/* General style */
li {
  list-style: none;
}

/* Start with Header Area */

/* First navbar */

.first-nav {
  background-color: #f72210;
}

/* Second-nav */

.second-nav {
  height: 40px;
}
.second-nav ul {
  width: 90%;
}
